# Copyright 2026 rakesh.khoodeeram
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Verifier · Red-team module — API contract
# Tenant-scoped via session.

openapi: 3.0.3

info:
  title: Sovereign AI Registry — Verifier Red-team API
  version: 0.4.0

servers:
  - url: https://air.gov.mu/api/v1
  - url: https://air-staging.gov.mu/api/v1

tags:
  - name: verifier-redteam

paths:
  /verifier/redteam:
    get:
      summary: List red-team findings
      operationId: listVerifierRedteam
      tags: [verifier-redteam]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [all, open, review, resolved] }
        - in: query
          name: severity
          schema: { type: string, enum: [all, high, med, low] }
        - in: query
          name: target
          schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 100 }
        - in: query
          name: cursor
          schema: { type: string }
      responses:
        '200':
          description: Findings page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/VerifierRedteamResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

    post:
      summary: 'New finding' header action
      operationId: createVerifierRedteam
      tags: [verifier-redteam]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RedteamCreate' }
      responses:
        '201':
          description: Finding created (status defaults to 'open')
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RedteamFinding' }

  /verifier/redteam/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      summary: Get finding detail (drawer payload)
      operationId: getVerifierRedteamItem
      tags: [verifier-redteam]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Finding detail with reproduction body and mitigation cross-links
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RedteamFindingDetail' }
        '404':
          description: Finding not found in this tenant
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /verifier/redteam/{id}/review:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Move a finding to 'review' (start triage)
      operationId: reviewVerifierRedteam
      tags: [verifier-redteam]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, minLength: 12 }
      responses:
        '200':
          description: Finding now in 'review'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RedteamFinding' }

  /verifier/redteam/{id}/resolve:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Close a finding
      operationId: resolveVerifierRedteam
      tags: [verifier-redteam]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, minLength: 12, description: 'Mitigation summary.' }
      responses:
        '200':
          description: Finding resolved
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RedteamFinding' }

  /verifier/redteam/{id}/reopen:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Reopen a resolved finding (status → 'open')
      operationId: reopenVerifierRedteam
      tags: [verifier-redteam]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, minLength: 12 }
      responses:
        '200':
          description: Finding reopened
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RedteamFinding' }

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }

  responses:
    Unauthorized:
      description: Missing or invalid session
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Forbidden:
      description: Authenticated but lacks verifier role
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }

  schemas:
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type:     { type: string, format: uri }
        title:    { type: string }
        status:   { type: integer }
        detail:   { type: string }
        instance: { type: string }

    RedteamFinding:
      type: object
      required: [id, target, vector, severity, status, opened]
      properties:
        id:       { type: string, example: rt_44 }
        target:   { type: string }
        vector:   { type: string }
        severity: { type: string, enum: [high, med, low] }
        status:   { type: string, enum: [open, review, resolved] }
        opened:   { type: string, format: date }

    RedteamFindingDetail:
      allOf:
        - $ref: '#/components/schemas/RedteamFinding'
        - type: object
          properties:
            body:           { type: string }
            attachedRunIds:
              type: array
              items: { type: string }
            mitigationIds:
              type: array
              items: { type: string }
            disclosure:
              type: object
              properties:
                public:        { type: boolean }
                publicAt:      { type: string, format: date }
                embargoUntil:  { type: string, format: date }

    RedteamCreate:
      type: object
      required: [target, vector, severity, body]
      properties:
        target:   { type: string }
        vector:   { type: string }
        severity: { type: string, enum: [high, med, low] }
        body:     { type: string, minLength: 12 }

    VerifierRedteamResponse:
      type: object
      required: [rows, total, openCount, generatedAt]
      properties:
        rows:
          type: array
          items: { $ref: '#/components/schemas/RedteamFinding' }
        total:     { type: integer }
        openCount: { type: integer }
        page:
          type: object
          properties:
            cursor:  { type: string }
            size:    { type: integer }
            hasMore: { type: boolean }
        generatedAt: { type: string, format: date-time }
