# Copyright 2026 rakesh.khoodeeram
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Admin · Resources module — API contract
# Read + write surface for the /resources route of the admin portal.
# Auth: see airegistry-specs/shared/auth.md (admin role required).

openapi: 3.0.3

info:
  title: Sovereign AI Registry — Admin Resources API
  version: 0.4.0

servers:
  - url: https://air.gov.mu/api/v1
  - url: https://air-staging.gov.mu/api/v1

tags:
  - name: admin-resources
    description: Browse, inspect and lifecycle-manage registered resources.

paths:
  /admin/resources:
    get:
      summary: List resources (filterable)
      operationId: listAdminResources
      tags: [admin-resources]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: q
          schema: { type: string }
          description: Free-text search; matches `slug` (case-sensitive) and `provider` (case-insensitive).
        - in: query
          name: kind
          schema: { type: string, enum: [all, mcp-server, agent, model, tool] }
          description: 'all' returns rows of any kind.
        - in: query
          name: status
          schema: { type: string, enum: [all, verified, review, experimental, isolated, archived] }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - in: query
          name: cursor
          schema: { type: string }
      responses:
        '200':
          description: Resource page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminResourcesResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

    post:
      summary: Create a new resource
      operationId: createAdminResource
      tags: [admin-resources]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ResourceCreate' }
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '409':
          description: Slug already exists for this tenant
          content:
            application/problem+json:
              schema: { $ref: '#/components/schemas/Problem' }

  /admin/resources/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      summary: Get a resource by id
      operationId: getAdminResource
      tags: [admin-resources]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Resource
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }
        '404': { $ref: '#/components/responses/NotFound' }

    patch:
      summary: Edit a resource (drawer 'Edit' action)
      operationId: patchAdminResource
      tags: [admin-resources]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema: { $ref: '#/components/schemas/ResourcePatch' }
      responses:
        '200':
          description: Updated resource
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }

  /admin/resources/{id}/reverify:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Drawer 'Re-verify' action
      operationId: reverifyAdminResource
      tags: [admin-resources]
      security: [{ bearerAuth: [] }]
      responses:
        '202':
          description: Re-verification queued
          content:
            application/json:
              schema:
                type: object
                required: [resourceId, jobId]
                properties:
                  resourceId: { type: string }
                  jobId:      { type: string }

  /admin/resources/{id}/isolate:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Drawer 'Isolate' action — sets status='isolated'
      operationId: isolateAdminResource
      tags: [admin-resources]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 12 }
      responses:
        '200':
          description: Resource moved to 'isolated'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }

  /admin/resources/{id}/flags:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Drawer 'Raise flag' action
      operationId: raiseFlagOnResource
      tags: [admin-resources]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [kind, severity, body]
              properties:
                kind:     { type: string, example: data-leak-risk }
                severity: { type: string, enum: [low, med, high] }
                body:     { type: string, minLength: 12 }
      responses:
        '201':
          description: Flag created (cross-references modules/admin/flags)
          content:
            application/json:
              schema:
                type: object
                required: [flagId, target]
                properties:
                  flagId: { type: string }
                  target: { type: string }

  /admin/resources/export.csv:
    get:
      summary: Header action 'Export CSV'
      operationId: exportAdminResourcesCsv
      tags: [admin-resources]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: q
          schema: { type: string }
        - in: query
          name: kind
          schema: { type: string }
        - in: query
          name: status
          schema: { type: string }
      responses:
        '200':
          description: CSV stream
          content:
            text/csv:
              schema:
                type: string

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }

  responses:
    Unauthorized:
      description: Missing or invalid session
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Forbidden:
      description: Authenticated but lacks admin role
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    BadRequest:
      description: Validation error
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: Resource id not found in this tenant
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type:     { type: string, format: uri }
        title:    { type: string }
        status:   { type: integer }
        detail:   { type: string }
        instance: { type: string }

    Resource:
      type: object
      required: [id, slug, kind, provider, status, sov, region, risk, usage, updated, desc]
      properties:
        id:       { type: string, example: res_001 }
        slug:     { type: string, example: mcp/edu-curriculum }
        kind:     { type: string, enum: [mcp-server, agent, model, tool] }
        provider: { type: string }
        status:   { type: string, enum: [verified, review, experimental, isolated, archived] }
        sov:      { type: string, enum: [Tier-1, Tier-2, Tier-3, Restricted] }
        region:   { type: string }
        risk:     { type: string, enum: [low, med, high] }
        usage:    { type: string }
        updated:  { type: string, format: date }
        desc:     { type: string }

    ResourceCreate:
      type: object
      required: [slug, kind, provider, sov, region, risk, desc]
      properties:
        slug:     { type: string }
        kind:     { type: string, enum: [mcp-server, agent, model, tool] }
        provider: { type: string }
        sov:      { type: string, enum: [Tier-1, Tier-2, Tier-3, Restricted] }
        region:   { type: string }
        risk:     { type: string, enum: [low, med, high] }
        desc:     { type: string, maxLength: 240 }

    ResourcePatch:
      type: object
      properties:
        provider: { type: string }
        sov:      { type: string, enum: [Tier-1, Tier-2, Tier-3, Restricted] }
        region:   { type: string }
        risk:     { type: string, enum: [low, med, high] }
        desc:     { type: string, maxLength: 240 }

    AdminResourcesResponse:
      type: object
      required: [rows, total, generatedAt]
      properties:
        rows:
          type: array
          items: { $ref: '#/components/schemas/Resource' }
        total: { type: integer }
        page:
          type: object
          properties:
            cursor:  { type: string }
            size:    { type: integer }
            hasMore: { type: boolean }
        generatedAt:
          type: string
          format: date-time
