# Copyright 2026 rakesh.khoodeeram
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Admin · Integrations module — API contract
# Auth: see airegistry-specs/shared/auth.md (admin role required, often + scope=global).

openapi: 3.0.3

info:
  title: Sovereign AI Registry — Admin Integrations API
  version: 0.4.0

servers:
  - url: https://air.gov.mu/api/v1
  - url: https://air-staging.gov.mu/api/v1

tags:
  - name: admin-integrations

paths:
  /admin/integrations:
    get:
      summary: List external integrations
      operationId: listAdminIntegrations
      tags: [admin-integrations]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: kind
          schema: { type: string, enum: [all, identity, notify, security, observability, storage] }
        - in: query
          name: status
          schema: { type: string, enum: [all, connected, degraded, disconnected, revoked] }
      responses:
        '200':
          description: Integration list
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminIntegrationsResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

    post:
      summary: 'Add integration' header action — initiates the per-kind setup
      operationId: createAdminIntegration
      tags: [admin-integrations]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IntegrationCreate' }
      responses:
        '201':
          description: Integration created (status defaults to 'disconnected' until first successful sync)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Integration' }

  /admin/integrations/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      summary: Get integration by id
      operationId: getAdminIntegration
      tags: [admin-integrations]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Integration record + non-secret config
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IntegrationDetail' }
        '404': { $ref: '#/components/responses/NotFound' }

    patch:
      summary: 'Configure' card action — update non-secret config
      operationId: patchAdminIntegration
      tags: [admin-integrations]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema: { $ref: '#/components/schemas/IntegrationPatch' }
      responses:
        '200':
          description: Updated integration
          content:
            application/json:
              schema: { $ref: '#/components/schemas/IntegrationDetail' }

  /admin/integrations/{id}/test:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Run a smoke test against the integration
      operationId: testAdminIntegration
      tags: [admin-integrations]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Smoke test result
          content:
            application/json:
              schema:
                type: object
                required: [ok, latencyMs]
                properties:
                  ok:        { type: boolean }
                  latencyMs: { type: integer, minimum: 0 }
                  detail:    { type: string }

  /admin/integrations/{id}/revoke:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Revoke an integration (status → 'revoked')
      operationId: revokeAdminIntegration
      tags: [admin-integrations]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 12 }
      responses:
        '200':
          description: Integration revoked
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Integration' }

  /admin/integrations/{id}/logs:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 1000, default: 100 }
    get:
      summary: 'Logs' card action — fetch recent integration log lines
      operationId: getAdminIntegrationLogs
      tags: [admin-integrations]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Recent log entries (newest first)
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [ts, level, message]
                  properties:
                    ts:      { type: string, format: date-time }
                    level:   { type: string, enum: [debug, info, warn, error] }
                    message: { type: string }

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }

  responses:
    Unauthorized:
      description: Missing or invalid session
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Forbidden:
      description: Authenticated but lacks admin role / scope
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    NotFound:
      description: Integration id not found in tenant
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }

  schemas:
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type:     { type: string, format: uri }
        title:    { type: string }
        status:   { type: integer }
        detail:   { type: string }
        instance: { type: string }

    Integration:
      type: object
      required: [id, name, kind, status, lastSync]
      properties:
        id:       { type: string, example: int_oidc_govmu }
        name:     { type: string }
        kind:     { type: string, enum: [identity, notify, security, observability, storage] }
        status:   { type: string, enum: [connected, degraded, disconnected, revoked] }
        lastSync: { type: string }

    IntegrationDetail:
      allOf:
        - $ref: '#/components/schemas/Integration'
        - type: object
          properties:
            config:
              type: object
              description: Non-secret configuration; secret fields surface as a sentinel (e.g. "<set>") with masked length.
              additionalProperties: true
            scopes:
              type: array
              items: { type: string }

    IntegrationCreate:
      type: object
      required: [name, kind, config]
      properties:
        name:   { type: string }
        kind:   { type: string, enum: [identity, notify, security, observability, storage] }
        config: { type: object, additionalProperties: true }

    IntegrationPatch:
      type: object
      properties:
        name:   { type: string }
        config: { type: object, additionalProperties: true }

    AdminIntegrationsResponse:
      type: object
      required: [rows, total, generatedAt]
      properties:
        rows:
          type: array
          items: { $ref: '#/components/schemas/Integration' }
        total: { type: integer }
        byKind:
          type: object
          additionalProperties: { type: integer }
        generatedAt: { type: string, format: date-time }
