# Copyright 2026 rakesh.khoodeeram
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Admin · Providers module — API contract
# Auth: see airegistry-specs/shared/auth.md (admin role required).

openapi: 3.0.3

info:
  title: Sovereign AI Registry — Admin Providers API
  version: 0.4.0

servers:
  - url: https://air.gov.mu/api/v1
  - url: https://air-staging.gov.mu/api/v1

tags:
  - name: admin-providers

paths:
  /admin/providers:
    get:
      summary: List provider entities with counters
      operationId: listAdminProviders
      tags: [admin-providers]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: q
          schema: { type: string }
          description: Case-insensitive name search.
        - in: query
          name: kind
          schema: { type: string, enum: [all, sovereign, regional, private, external] }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
        - in: query
          name: cursor
          schema: { type: string }
      responses:
        '200':
          description: Provider list payload
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminProvidersResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

    post:
      summary: 'Add provider' header action
      operationId: createAdminProvider
      tags: [admin-providers]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ProviderCreate' }
      responses:
        '201':
          description: Created (status defaults to 'review')
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Provider' }

  /admin/providers/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      summary: Get provider by id
      operationId: getAdminProvider
      tags: [admin-providers]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Provider record
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Provider' }
        '404': { $ref: '#/components/responses/NotFound' }

    patch:
      summary: Edit provider attributes
      operationId: patchAdminProvider
      tags: [admin-providers]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/merge-patch+json:
            schema: { $ref: '#/components/schemas/ProviderPatch' }
      responses:
        '200':
          description: Updated provider
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Provider' }

  /admin/providers/{id}/verify:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Verify a provider entity (proof-of-control)
      operationId: verifyAdminProvider
      tags: [admin-providers]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Provider status flipped to 'verified'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Provider' }

  /admin/providers/{id}/isolate:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Isolate a provider; cascades to all their resources
      operationId: isolateAdminProvider
      tags: [admin-providers]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                reason: { type: string, minLength: 12 }
      responses:
        '200':
          description: Provider and all their resources moved to 'isolated'
          content:
            application/json:
              schema:
                type: object
                required: [provider, resourcesIsolated]
                properties:
                  provider: { $ref: '#/components/schemas/Provider' }
                  resourcesIsolated:
                    type: array
                    items: { type: string }

  /admin/providers/onboarding-queue:
    get:
      summary: 'Onboarding queue' header link target
      operationId: getOnboardingQueue
      tags: [admin-providers]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Pending onboarding submissions
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [id, name, domain, submittedAt, stage]
                  properties:
                    id:          { type: string }
                    name:        { type: string }
                    domain:      { type: string }
                    submittedAt: { type: string, format: date-time }
                    stage:       { type: string, enum: [docs, contact, sovereignty, ready] }

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }

  responses:
    Unauthorized:
      description: Missing or invalid session
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Forbidden:
      description: Authenticated but lacks admin role
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    NotFound:
      description: Provider id not found in tenant
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }

    Provider:
      type: object
      required: [id, name, domain, kind, tier, resources, status, verified, primary, risk]
      properties:
        id:        { type: string, example: prv_eduMu }
        name:      { type: string }
        domain:    { type: string }
        kind:      { type: string, enum: [sovereign, regional, private, external] }
        tier:      { type: string, enum: [Tier-1, Tier-2, Tier-3, Restricted] }
        resources: { type: integer }
        status:    { type: string, enum: [verified, review, isolated] }
        verified:  { type: string, description: 'Date YYYY-MM-DD or "—"' }
        primary:   { type: string }
        risk:      { type: string, enum: [low, med, high] }

    ProviderCreate:
      type: object
      required: [name, domain, kind, tier, primary]
      properties:
        name:    { type: string }
        domain:  { type: string }
        kind:    { type: string, enum: [sovereign, regional, private, external] }
        tier:    { type: string, enum: [Tier-1, Tier-2, Tier-3, Restricted] }
        primary: { type: string }

    ProviderPatch:
      type: object
      properties:
        name:    { type: string }
        tier:    { type: string, enum: [Tier-1, Tier-2, Tier-3, Restricted] }
        primary: { type: string }
        risk:    { type: string, enum: [low, med, high] }

    AdminProvidersResponse:
      type: object
      required: [rows, total, counters, generatedAt]
      properties:
        rows:
          type: array
          items: { $ref: '#/components/schemas/Provider' }
        total: { type: integer }
        counters:
          type: object
          required: [sovereign, regional, private, external]
          properties:
            sovereign: { type: integer }
            regional:  { type: integer }
            private:   { type: integer }
            external:  { type: integer }
        page:
          type: object
          properties:
            cursor:  { type: string }
            size:    { type: integer }
            hasMore: { type: boolean }
        generatedAt:
          type: string
          format: date-time
