# Copyright 2026 rakesh.khoodeeram
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Admin · Dashboard module — API contract
#
# The prototype is client-only and reads window.ADMIN_DATA in the browser.
# This document specifies the production HTTP surface that backs the dashboard.
# See: airegistry-specs/shared/auth.md for auth, error-codes.yaml for shared errors.

openapi: 3.0.3

info:
  title: Sovereign AI Registry — Admin Dashboard API
  version: 0.4.0
  description: >
    Read-only endpoints that hydrate the Admin portal dashboard route ("/" of the
    admin portal). All endpoints require an admin-scoped session (see
    `shared/auth.md`).

servers:
  - url: https://air.gov.mu/api/v1
    description: Production
  - url: https://air-staging.gov.mu/api/v1
    description: Staging

tags:
  - name: admin-dashboard
    description: Aggregated read-only data for the admin landing page.

paths:
  /admin/dashboard:
    get:
      summary: Get admin dashboard payload
      description: >
        Returns the four StatCards, the 60-day submissions series, the open
        flags slice (max 4, excluding resolved), and the latest 6 audit rows.
        This is the single canonical endpoint hit on dashboard mount.
      operationId: getAdminDashboard
      tags: [admin-dashboard]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Dashboard payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminDashboardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/summary:
    get:
      summary: Get the four StatCard counters
      description: Granular endpoint for partial refresh of the top stats grid.
      operationId: getAdminSummary
      tags: [admin-dashboard]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Summary payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardSummary'

  /admin/submissions-series:
    get:
      summary: 60-day submissions time series
      operationId: getSubmissionsSeries
      tags: [admin-dashboard]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: days
          schema: { type: integer, minimum: 7, maximum: 180, default: 60 }
        - in: query
          name: yMaxHint
          schema: { type: number }
          description: Optional axis ceiling hint; server returns one regardless.
      responses:
        '200':
          description: Series payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubmissionsSeries'

  /admin/flags/open:
    get:
      summary: Open flags slice for dashboard right card
      operationId: getOpenFlags
      tags: [admin-dashboard]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 20, default: 4 }
      responses:
        '200':
          description: Up to `limit` open flags ordered by `raised` desc
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Flag' }

  /admin/audit/recent:
    get:
      summary: Recent audit rows for dashboard activity card
      operationId: getRecentActivity
      tags: [admin-dashboard]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 50, default: 6 }
      responses:
        '200':
          description: Recent audit rows ordered by `ts` desc
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/AuditRecord' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  responses:
    Unauthorized:
      description: Missing or invalid session
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }
    Forbidden:
      description: Authenticated but lacks `admin` role
      content:
        application/problem+json:
          schema: { $ref: '#/components/schemas/Problem' }

  schemas:
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type: { type: string, format: uri }
        title: { type: string }
        status: { type: integer }
        detail: { type: string }
        instance: { type: string }

    AdminDashboardResponse:
      type: object
      required: [summary, submissionsSeries, openFlags, recentActivity, generatedAt]
      properties:
        summary: { $ref: '#/components/schemas/DashboardSummary' }
        submissionsSeries: { $ref: '#/components/schemas/SubmissionsSeries' }
        openFlags:
          type: array
          maxItems: 4
          items: { $ref: '#/components/schemas/Flag' }
        recentActivity:
          type: array
          maxItems: 50
          items: { $ref: '#/components/schemas/AuditRecord' }
        generatedAt:
          type: string
          format: date-time

    DashboardSummary:
      type: object
      required:
        - resourcesTotal
        - resourcesDelta7d
        - providersTotal
        - providersDelta7d
        - pendingReviewsTotal
        - pendingReviewsDelta7d
        - policyViolationsTotal
        - policyViolationsDelta7d
      properties:
        resourcesTotal:        { type: integer, example: 412 }
        resourcesDelta7d:      { type: integer, example: 18 }
        providersTotal:        { type: integer, example: 64 }
        providersDelta7d:      { type: integer, example: 2 }
        pendingReviewsTotal:   { type: integer, example: 14 }
        pendingReviewsDelta7d: { type: integer, example: 3 }
        policyViolationsTotal:    { type: integer, example: 2 }
        policyViolationsDelta7d:  { type: integer, example: -4 }

    SubmissionsSeries:
      type: object
      required: [days, yMax, series]
      properties:
        days:  { type: integer, example: 60 }
        yMax:  { type: number,  example: 22 }
        series:
          type: object
          required: [provider, sovereign, external]
          properties:
            provider:
              type: array
              items: { type: number }
            sovereign:
              type: array
              items: { type: number }
            external:
              type: array
              items: { type: number }

    Flag:
      type: object
      required: [id, target, kind, severity, raisedBy, raised, status]
      properties:
        id:        { type: string, example: "flg_001" }
        target:    { type: string, example: "mcp/health-records" }
        kind:      { type: string, example: "data-leak-risk" }
        severity:  { type: string, enum: [high, med, low] }
        raisedBy:  { type: string, example: "auto/dlp" }
        raised:    { type: string, format: date }
        status:    { type: string, enum: [open, review, resolved] }

    AuditRecord:
      type: object
      required: [id, ts, actor, action, target, result, sig]
      properties:
        id:     { type: string, example: "a_4421" }
        ts:     { type: string, example: "2026-05-07 09:42" }
        actor:  { type: string, example: "john@gov.mu" }
        action: { type: string, example: "resource.verify" }
        target: { type: string, example: "mcp/edu-curriculum" }
        result: { type: string, enum: [ok, fail] }
        sig:    { type: string, example: "a14b…7e" }
