# Copyright 2026 rakesh.khoodeeram
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Admin · Audit module — API contract
# Auth: see airegistry-specs/shared/auth.md (admin role required).

openapi: 3.0.3

info:
  title: Sovereign AI Registry — Admin Audit API
  version: 0.4.0

servers:
  - url: https://air.gov.mu/api/v1
  - url: https://air-staging.gov.mu/api/v1

tags:
  - name: admin-audit

paths:
  /admin/audit:
    get:
      summary: List audit records (filterable; append-only)
      operationId: listAdminAudit
      tags: [admin-audit]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: actor
          schema: { type: string, description: 'Email or "system".' }
        - in: query
          name: action
          schema: { type: string, description: 'Dotted namespace prefix matches; e.g. "resource.*" matches all resource events.' }
        - in: query
          name: target
          schema: { type: string }
        - in: query
          name: result
          schema: { type: string, enum: [all, ok, fail] }
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 1000, default: 100 }
        - in: query
          name: cursor
          schema: { type: string }
      responses:
        '200':
          description: Audit page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AdminAuditResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /admin/audit/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      summary: Get a single audit record (with full signature)
      operationId: getAdminAuditRecord
      tags: [admin-audit]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Audit record with full hash and inclusion proof
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/AuditRecord'
                  - type: object
                    properties:
                      sigFull:        { type: string }
                      blockId:        { type: string }
                      inclusionProof:
                        type: array
                        items: { type: string }
        '404': { $ref: '#/components/responses/NotFound' }

  /admin/audit/export.csv:
    get:
      summary: 'Export' header action — CSV
      operationId: exportAdminAuditCsv
      tags: [admin-audit]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: CSV stream
          content:
            text/csv:
              schema: { type: string }

  /admin/audit/export.jsonl:
    get:
      summary: 'Export' header action — JSON Lines (full sig)
      operationId: exportAdminAuditJsonl
      tags: [admin-audit]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: from
          schema: { type: string, format: date-time }
        - in: query
          name: to
          schema: { type: string, format: date-time }
      responses:
        '200':
          description: One JSON record per line, full signatures included
          content:
            application/x-ndjson:
              schema: { type: string }

  /admin/audit/verify:
    post:
      summary: 'Verify integrity' header action — start a verification job
      operationId: verifyAdminAudit
      tags: [admin-audit]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                from: { type: string, format: date-time }
                to:   { type: string, format: date-time }
      responses:
        '202':
          description: Verification job accepted
          content:
            application/json:
              schema:
                type: object
                required: [jobId, since, until]
                properties:
                  jobId: { type: string }
                  since: { type: string, format: date-time }
                  until: { type: string, format: date-time }

  /admin/audit/verify/{jobId}:
    parameters:
      - in: path
        name: jobId
        required: true
        schema: { type: string }
    get:
      summary: Poll a verification job
      operationId: getAdminAuditVerifyJob
      tags: [admin-audit]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Verification job state
          content:
            application/json:
              schema:
                type: object
                required: [jobId, state]
                properties:
                  jobId:        { type: string }
                  state:        { type: string, enum: [running, ok, mismatch, error] }
                  scannedThrough: { type: string, description: 'block_id of last successfully verified block' }
                  mismatchAt:   { type: string, description: 'block_id where mismatch was detected, if any' }
                  scannedRecords: { type: integer }

  /admin/audit/blocks:
    get:
      summary: List notarisation blocks
      operationId: listAuditBlocks
      tags: [admin-audit]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
        - in: query
          name: cursor
          schema: { type: string }
      responses:
        '200':
          description: Block list
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Block' }

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }

  responses:
    Unauthorized:
      description: Missing or invalid session
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Forbidden:
      description: Authenticated but lacks admin role
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    NotFound:
      description: Audit record id not found in tenant
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }

  schemas:
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type:     { type: string, format: uri }
        title:    { type: string }
        status:   { type: integer }
        detail:   { type: string }
        instance: { type: string }

    AuditRecord:
      type: object
      required: [id, ts, actor, action, target, result, sig]
      properties:
        id:     { type: string, example: a_4421 }
        ts:     { type: string, example: '2026-05-07 09:42' }
        actor:  { type: string }
        action: { type: string }
        target: { type: string }
        result: { type: string, enum: [ok, fail] }
        sig:    { type: string, example: 'a14b…7e' }

    Block:
      type: object
      required: [id, range, count, merkleRoot, signedAt, signer]
      properties:
        id:           { type: string, example: block_8821 }
        range:
          type: object
          required: [from, to]
          properties:
            from: { type: string }
            to:   { type: string }
        count:        { type: integer }
        merkleRoot:   { type: string }
        signedAt:     { type: string, format: date-time }
        signer:       { type: string }
        notarisedAt:  { type: string, format: date-time }
        notaryRef:    { type: string }

    AdminAuditResponse:
      type: object
      required: [rows, total, generatedAt]
      properties:
        rows:
          type: array
          items: { $ref: '#/components/schemas/AuditRecord' }
        total: { type: integer }
        page:
          type: object
          properties:
            cursor:  { type: string }
            size:    { type: integer }
            hasMore: { type: boolean }
        asOfBlock:   { type: string }
        generatedAt: { type: string, format: date-time }
