# Copyright 2026 rakesh.khoodeeram
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Provider · Incidents module — API contract
# All endpoints scoped to the active provider tenant via session.

openapi: 3.0.3

info:
  title: Sovereign AI Registry — Provider Incidents API
  version: 0.4.0

servers:
  - url: https://air.gov.mu/api/v1
  - url: https://air-staging.gov.mu/api/v1

tags:
  - name: provider-incidents

paths:
  /provider/incidents:
    get:
      summary: List incidents on the provider's resources
      operationId: listProviderIncidents
      tags: [provider-incidents]
      security: [{ bearerAuth: [] }]
      parameters:
        - in: query
          name: status
          schema: { type: string, enum: [all, open, investigating, resolved] }
        - in: query
          name: severity
          schema: { type: string, enum: [all, high, med, low] }
        - in: query
          name: resource
          schema: { type: string, description: 'Filter by exact resource slug.' }
        - in: query
          name: limit
          schema: { type: integer, minimum: 1, maximum: 200, default: 100 }
        - in: query
          name: cursor
          schema: { type: string }
      responses:
        '200':
          description: Incidents page
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProviderIncidentsResponse' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

    post:
      summary: 'Report incident' header action
      operationId: createProviderIncident
      tags: [provider-incidents]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/IncidentCreate' }
      responses:
        '201':
          description: Incident created (status defaults to 'open')
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Incident' }

  /provider/incidents/{id}:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    get:
      summary: Get incident with timeline
      operationId: getProviderIncident
      tags: [provider-incidents]
      security: [{ bearerAuth: [] }]
      responses:
        '200':
          description: Incident detail
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Incident'
                  - type: object
                    properties:
                      timeline:
                        type: array
                        items:
                          type: object
                          required: [ts, actor, action, body]
                          properties:
                            ts:     { type: string, format: date-time }
                            actor:  { type: string }
                            action: { type: string, enum: [opened, investigating, comment, resolved, reopened] }
                            body:   { type: string }
                      public: { type: boolean }
        '404': { $ref: '#/components/responses/NotFound' }

  /provider/incidents/{id}/investigate:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Move an incident to 'investigating'
      operationId: investigateProviderIncident
      tags: [provider-incidents]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, minLength: 12 }
      responses:
        '200':
          description: Incident in 'investigating'
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Incident' }

  /provider/incidents/{id}/resolve:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Close an incident
      operationId: resolveProviderIncident
      tags: [provider-incidents]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, minLength: 12, description: 'Postmortem summary or resolution note.' }
      responses:
        '200':
          description: Incident closed
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Incident' }

  /provider/incidents/{id}/reopen:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Reopen a resolved incident (status → 'investigating')
      operationId: reopenProviderIncident
      tags: [provider-incidents]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body: { type: string, minLength: 12 }
      responses:
        '200':
          description: Incident reopened
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Incident' }

  /provider/incidents/{id}/public:
    parameters:
      - in: path
        name: id
        required: true
        schema: { type: string }
    post:
      summary: Toggle public visibility on the public profile / status page
      operationId: setProviderIncidentPublic
      tags: [provider-incidents]
      security: [{ bearerAuth: [] }]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [public]
              properties:
                public: { type: boolean }
      responses:
        '200':
          description: Visibility toggled
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Incident' }

components:
  securitySchemes:
    bearerAuth: { type: http, scheme: bearer, bearerFormat: JWT }

  responses:
    Unauthorized:
      description: Missing or invalid session
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    Forbidden:
      description: Authenticated but lacks provider role
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }
    NotFound:
      description: Incident id not found in this provider
      content: { application/problem+json: { schema: { $ref: '#/components/schemas/Problem' } } }

  schemas:
    Problem:
      type: object
      required: [type, title, status]
      properties:
        type:     { type: string, format: uri }
        title:    { type: string }
        status:   { type: integer }
        detail:   { type: string }
        instance: { type: string }

    Incident:
      type: object
      required: [id, resource, kind, severity, opened, status]
      properties:
        id:       { type: string, example: inc_44 }
        resource: { type: string, example: mcp/edu-curriculum }
        kind:     { type: string, example: p99-spike }
        severity: { type: string, enum: [high, med, low] }
        opened:   { type: string, example: '2026-05-03 11:14' }
        status:   { type: string, enum: [open, investigating, resolved] }

    IncidentCreate:
      type: object
      required: [resource, kind, severity, body]
      properties:
        resource: { type: string }
        kind:     { type: string }
        severity: { type: string, enum: [high, med, low] }
        body:     { type: string, minLength: 12 }
        public:   { type: boolean, default: false }

    ProviderIncidentsResponse:
      type: object
      required: [rows, total, openCount, generatedAt]
      properties:
        rows:
          type: array
          items: { $ref: '#/components/schemas/Incident' }
        total:     { type: integer }
        openCount: { type: integer }
        page:
          type: object
          properties:
            cursor:  { type: string }
            size:    { type: integer }
            hasMore: { type: boolean }
        generatedAt: { type: string, format: date-time }
